name: ci-cd

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: uv sync --all-extras --dev

    - name: Build Package
      run: uv build

    - name: Run tests
      run: uv run pytest tests

    - name: Show package version
      run: |
        grep -r "version" pyproject.toml || \
        grep -r "__version__" src/probounds || \
        python -c "import probounds; print(probounds.__version__)"

    - name: Publish package
      if: github.ref == 'refs/heads/main' && matrix.python-version == '3.10'
      run: uv publish
